# Files without Extension
*
!/**/
!*.*

# OS Files
* .thumbs.db
**/.thumbs.db
* .DS_Store
**/.DS_Store

# Windows executable files
**/*.exe

# vscode configs
.vscode/*

# C temp files
**/tempCodeRunnerFile.c