# Files without Extension
*
!/**/
!*.*

# OS Files
* .thumbs.db
**/.thumbs.db
* .DS_Store
**/.DS_Store

# Windows executable files
**/*.exe

# vscode temps
.vscode/*

# debug and temps C files
**/tempCodeRunnerFile.c
*.dSYM/